parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Scr1be\\\\BackInStock\\\\Controller\\\\JsonPostAction\\:\\:exposeAlertIds\\(\\)\\.$#"
			count: 1
			path: back-in-stock/src/Test/Unit/Controller/JsonPostActionTest.php

		-
			message: "#^Parameter \\#1 \\$porters of class Scr1be\\\\ContentTransfer\\\\Model\\\\PorterPool constructor expects array\\<Scr1be\\\\ContentTransfer\\\\Api\\\\PorterInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: content-as-code/src/ContentTransfer/Test/Unit/Model/PorterPoolTest.php

		-
			message: "#^Parameter \\#1 \\$eligibleGroupIds of method Scr1be\\\\CouponTicket\\\\Model\\\\Eligibility\\:\\:isEligible\\(\\) expects array\\<int\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: content-as-code/src/CouponTicket/Test/Unit/Model/EligibilityTest.php

		-
			message: "#^Parameter \\#1 \\$sources of class Scr1be\\\\CuratedCategories\\\\Model\\\\SourcePool constructor expects array\\<Scr1be\\\\CuratedCategories\\\\Api\\\\CurationSourceInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: curated-categories/src/Test/Unit/Model/SourcePoolTest.php

		-
			message: "#^Method Scr1be\\\\CustomerGroupGuard\\\\Test\\\\Unit\\\\Model\\\\GroupCookieTest\\:\\:metadataStub\\(\\) should return Magento\\\\Framework\\\\Stdlib\\\\Cookie\\\\CookieMetadata&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject but returns PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: customer-group-guard/src/Test/Unit/Model/GroupCookieTest.php

		-
			message: "#^Parameter \\#1 \\$response of method Scr1be\\\\FpcInspector\\\\Model\\\\Inspector\\\\CacheVerdict\\:\\:evaluate\\(\\) expects Magento\\\\Framework\\\\App\\\\Response\\\\HttpInterface\\|null, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: fpc-inspector/src/Test/Unit/Model/Inspector/CacheVerdictTest.php

		-
			message: "#^Call to an undefined method Scr1be\\\\GuestRegistration\\\\Model\\\\GuestRegistrar\\:\\:expects\\(\\)\\.$#"
			count: 4
			path: headless-api-suite/src/GuestRegistration/Test/Unit/Observer/RegisterGuestAfterSubmitTest.php

		-
			message: "#^Parameter \\#2 \\$context of method Scr1be\\\\OrderAttribution\\\\Model\\\\Resolver\\\\AvailableOrderSources\\:\\:resolve\\(\\) expects Magento\\\\Framework\\\\GraphQl\\\\Query\\\\Resolver\\\\ContextInterface, null given\\.$#"
			count: 1
			path: headless-api-suite/src/OrderAttribution/Test/Unit/Model/Resolver/AvailableOrderSourcesTest.php

		-
			message: "#^Parameter \\#4 \\$data of class Scr1be\\\\PushNotifications\\\\Model\\\\PushMessage constructor expects array\\<string, string\\>, array\\<string, int\\|true\\> given\\.$#"
			count: 1
			path: headless-api-suite/src/PushNotifications/Test/Unit/Model/Fcm/FcmTransportTest.php

		-
			message: "#^Parameter \\#2 \\$providers of class Scr1be\\\\SearchAutocomplete\\\\Model\\\\ProviderPool constructor expects array\\<Scr1be\\\\SearchAutocomplete\\\\Api\\\\SuggestionProviderInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: headless-api-suite/src/SearchAutocomplete/Test/Unit/Model/ProviderPoolTest.php

		-
			message: "#^Using nullsafe property access on non\\-nullable type Scr1be\\\\SearchAutocomplete\\\\Model\\\\SuggestionRequest\\. Use \\-\\> instead\\.$#"
			count: 4
			path: headless-api-suite/src/SearchAutocomplete/Test/Unit/Model/Resolver/SearchAutocompleteTest.php

		-
			message: "#^Parameter \\#1 \\$verifiers of class Scr1be\\\\SocialLogin\\\\Model\\\\Verifier\\\\VerifierPool constructor expects array\\<Scr1be\\\\SocialLogin\\\\Model\\\\Verifier\\\\VerifierInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: headless-api-suite/src/SocialLogin/Test/Unit/Model/Verifier/VerifierPoolTest.php

		-
			message: "#^Anonymous function never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: hyva-media/src/Test/Unit/Model/SrcsetBuilderTest.php

		-
			message: "#^Call to an undefined method Magento\\\\CatalogInventory\\\\Api\\\\StockRegistryInterface\\:\\:expects\\(\\)\\.$#"
			count: 1
			path: hyva-product-card/src/Test/Unit/Model/Card/QtyRuleResolverTest.php

		-
			message: "#^Call to an undefined method Magento\\\\CatalogInventory\\\\Api\\\\StockRegistryInterface\\:\\:method\\(\\)\\.$#"
			count: 1
			path: hyva-product-card/src/Test/Unit/Model/Card/QtyRuleResolverTest.php

		-
			message: "#^Parameter \\#1 \\$sources of class Scr1be\\\\HyvaProductSlider\\\\Model\\\\ProductSource\\\\Pool constructor expects array\\<string, Scr1be\\\\HyvaProductSlider\\\\Api\\\\ProductSourceInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: hyva-product-slider/src/Test/Unit/Model/ProductSource/PoolTest.php

		-
			message: "#^Parameter \\#1 \\$families of method Scr1be\\\\ProductFamilies\\\\Model\\\\Grouper\\:\\:dropSingletons\\(\\) expects array\\<string, array\\<int, string\\>\\>, array\\<int, array\\<int, string\\>\\> given\\.$#"
			count: 1
			path: product-families/src/Test/Unit/Model/GrouperTest.php

		-
			message: "#^Parameter \\#1 \\$rows of method Scr1be\\\\ProductFamilies\\\\Model\\\\Grouper\\:\\:group\\(\\) expects iterable\\<array\\{entity_id\\: int\\|string, group_value\\: string\\|null, variant_value\\: string\\|null\\}\\>, array\\{array\\{entity_id\\: 4, group_value\\: '40'\\}\\} given\\.$#"
			count: 1
			path: product-families/src/Test/Unit/Model/GrouperTest.php

		-
			message: "#^Parameter \\#1 \\$desired of method Scr1be\\\\ProductFamilies\\\\Model\\\\LinkPlanner\\:\\:plan\\(\\) expects array\\<int, array\\<int, int\\>\\>, array\\<int, array\\<int, string\\>\\> given\\.$#"
			count: 1
			path: product-families/src/Test/Unit/Model/LinkPlannerTest.php

		-
			message: "#^Parameter \\#2 \\$current of method Scr1be\\\\ProductFamilies\\\\Model\\\\LinkPlanner\\:\\:plan\\(\\) expects array\\<int, array\\<int, array\\{link_id\\: int, position\\: int\\}\\>\\>, array\\{1\\: array\\{2\\: array\\{link_id\\: '55', position\\: '1'\\}\\}\\} given\\.$#"
			count: 1
			path: product-families/src/Test/Unit/Model/LinkPlannerTest.php

		-
			message: "#^Parameter \\#1 \\$labels of method Scr1be\\\\ProductFamilies\\\\Test\\\\Unit\\\\ViewModel\\\\ProductFamiliesTest\\:\\:givenOptionLabels\\(\\) expects array\\<string, string\\>, array\\<int, string\\> given\\.$#"
			count: 5
			path: product-families/src/Test/Unit/ViewModel/ProductFamiliesTest.php

		-
			message: "#^Parameter \\#1 \\$renderers of class Scr1be\\\\SignedDocumentDelivery\\\\Model\\\\Renderer\\\\RendererPool constructor expects array\\<string, Scr1be\\\\SignedDocumentDelivery\\\\Model\\\\Renderer\\\\DocumentRendererInterface\\>, array\\<string, stdClass\\> given\\.$#"
			count: 1
			path: signed-document-delivery/src/Test/Unit/Model/Renderer/RendererPoolTest.php
