<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scr1be_slider>
            <general>
                <enabled>1</enabled>
            </general>
            <sources>
                <bestsellers_window_days>30</bestsellers_window_days>
                <most_viewed_window_days>7</most_viewed_window_days>
                <deals_customer_group>0</deals_customer_group>
            </sources>
            <purchase_index>
                <window_days>30</window_days>
            </purchase_index>
            <social_proof>
                <enabled>1</enabled>
                <window_hours>72</window_hours>
                <show_name>1</show_name>
                <show_city>1</show_city>
                <endpoint_ttl>120</endpoint_ttl>
            </social_proof>
        </scr1be_slider>
    </default>
</config>
